# Process target variables

In [1]:
import numpy as np
import pandas as pd

In [2]:
raw_targets = pd.read_excel(
    './../../../data/source/raw_targets/Responsdata-Radiomics-10092018.xlsx', 
    index_col=0
)
raw_targets.head()

,Unnamed: 1,Lokal,Regional,LRC,Unnamed: 5,PFS,Unnamed: 7,Unnamed: 8,Unnamed: 9,Respons,Forklaring,Unnamed: 12,Unnamed: 13,Antall,Unnamed: 15
ID,,,,,,,,,,,,,,,
2,NaN,0,0,0,NaN,0,NaN,NaN,NaN,LRC,Lokoregional kontroll,NaN,NaN,49.0,(Dvs. 49 pasienter har lokalt og/eller regiona...
4,NaN,0,0,0,NaN,0,NaN,NaN,NaN,PFS,Progresjonsfri overlevelse,NaN,NaN,64.0,(Dvs. 64 pasienter har lokalt og/eller regiona...
5,NaN,0,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,0,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,0,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
raw_targets.shape

(198, 15)

In [4]:
raw_targets.columns

Index(['Unnamed: 1', 'Lokal', 'Regional ', 'LRC', 'Unnamed: 5', 'PFS',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Respons', 'Forklaring',
       'Unnamed: 12', 'Unnamed: 13', 'Antall ', 'Unnamed: 15'],
      dtype='object')

In [5]:
dfs = raw_targets.loc[:, 'PFS'].values
lrr = raw_targets.loc[:, 'LRC'].values

y_dfs = np.zeros(np.shape(dfs), dtype=int)
y_lrr = np.zeros(np.shape(lrr), dtype=int)

y_dfs = np.array(dfs, dtype=int)
y_lrr = np.array(lrr, dtype=int)

In [6]:
target_dfs = pd.DataFrame(y_dfs, columns=['dfs'], index=raw_targets.index)
target_dfs.head()

    dfs
ID
2     0
4     0
5     0
8     0
10    0

In [7]:
target_lrr = pd.DataFrame(y_lrr, columns=['lrr'], index=raw_targets.index)
target_lrr.head()

    lrr
ID
2     0
4     0
5     0
8     0
10    0

In [8]:
target_lrr.to_csv('./../../../data/to_analysis/target_lrr.csv', sep=',')
target_dfs.to_csv('./../../../data/to_analysis/target_dfs.csv', sep=',')

In [9]:
# Sanity check.
np.array_equal(target_dfs.index.values, target_lrr.index.values)

True

In [10]:
# Extract true patient IDs from target data.
true_index = np.squeeze(raw_targets.index.values)
true_index[:10]

array([ 2,  4,  5,  8, 10, 11, 12, 13, 14, 15])

In [11]:
np.save('./../../../data/source/patient_id.npy', true_index)