# PET Parameters

In [1]:
import numpy as np
import pandas as pd

In [2]:
true_index = np.load('./../../../data/source/patient_id.npy')
true_index[:5]

array([ 2,  4,  5,  8, 10])

In [3]:
raw_pet_params = pd.read_excel(
    './../../../data/source/raw_tabular/pet_params.xlsx', 
    index_col=0
)
raw_pet_params.head()

,'volume','SUVmax','SUVpeak','MTV','TLG',Unnamed: 6,%EXPLANATIONS:
'patientID',,,,,,,
1,0.000,NaN,NaN,NaN,NaN,NaN,%volume: Volume of primary tumor [cm3](alread...
2,17.142,24.7412,21.616549,7.384,124.870726,NaN,%SUVmax: Maximum SUV in the primary tumor vol...
3,0.000,NaN,NaN,NaN,NaN,NaN,%SUVpeak: Maximum mean value of SUV in a spher...
4,9.661,18.6557,15.296275,3.406,41.554406,NaN,% where the center of the sphere (regi...
5,16.214,16.7395,14.473272,7.934,86.228420,NaN,% must belong to the tumor volume.

In [4]:
raw_pet_params.shape

(254, 7)

In [5]:
pet_params = raw_pet_params.loc[true_index, :]

In [6]:
pet_params.index = true_index
pet_params.index.name = 'patient'
pet_params.columns = [col[1:-1] for col in pet_params.columns]
pet_params.head()

,volume,SUVmax,SUVpeak,MTV,TLG,nnamed:,EXPLANATIONS:
patient,,,,,,,
2,17.142,24.7412,21.616549,7.384,124.870726,NaN,%SUVmax: Maximum SUV in the primary tumor vol...
4,9.661,18.6557,15.296275,3.406,41.554406,NaN,% where the center of the sphere (regi...
5,16.214,16.7395,14.473272,7.934,86.228420,NaN,% must belong to the tumor volume.
8,69.354,14.2110,10.510859,26.926,205.413389,NaN,% resistant to image noise.
10,10.749,8.7931,7.213190,6.041,32.103770,NaN,%TLG: Total Lesion Glycosis. MTVxSUVmean [...

In [7]:
pet_params.drop(pet_params.columns[-2:], axis=1, inplace=True)
pet_params.head()

         volume   SUVmax    SUVpeak     MTV         TLG
patient
2        17.142  24.7412  21.616549   7.384  124.870726
4         9.661  18.6557  15.296275   3.406   41.554406
5        16.214  16.7395  14.473272   7.934   86.228420
8        69.354  14.2110  10.510859  26.926  205.413389
10       10.749   8.7931   7.213190   6.041   32.103770

In [8]:
# Removing features extracted with PyRadiomics.
pet_params.drop(['SUVmax', 'volume'], axis=1, inplace=True)
pet_params.head()

           SUVpeak     MTV         TLG
patient
2        21.616549   7.384  124.870726
4        15.296275   3.406   41.554406
5        14.473272   7.934   86.228420
8        10.510859  26.926  205.413389
10        7.213190   6.041   32.103770

In [9]:
pet_params.to_csv('./../../../data/to_analysis/pet_params.csv')